* {
  box-sizing: border-box;
}

.wheel-wrapper {
  margin: 0;
  padding: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  overflow: hidden;
  z-index: 1; // Ensure the wheel sits above the background overlay
}

.wheel-container {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 9px solid $yellow;
  position: relative;
  overflow: hidden;
  transition: 3s;
}

.wheel-container div {
  height: 50%;
  width: 120px;
  position: absolute;
  clip-path: polygon(100% 0, 50% 100%, 0 0);
  transform: translateX(-50%);
  transform-origin: bottom;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  font-family: sans-serif;
  color: #fff;
  left: 81px;
}

.wheel-container .one {
  background-color: rgb(248, 222, 126); // Adjust transparency here (0.8 for example)
  left: 50%;
}
.wheel-container .two {
  background-color: rgb(255, 253, 208); // Adjust transparency here (0.8 for example)
  transform: rotate(45deg);
}
.wheel-container .three {
  background-color: rgb(248, 222, 126); // Adjust transparency here (0.8 for example)
  transform: rotate(90deg);
}
.wheel-container .four {
  background-color: rgb(255, 253, 208); // Adjust transparency here (0.8 for example)
  transform: rotate(135deg);
}
.wheel-container .five {
  background-color: rgb(248, 222, 126); // Adjust transparency here (0.8 for example)
  transform: rotate(180deg);
}
.wheel-container .six {
  background-color: rgb(255, 253, 208); // Adjust transparency here (0.8 for example)
  transform: rotate(225deg);
}
.wheel-container .seven {
  background-color: rgb(248, 222, 126); // Adjust transparency here (0.8 for example)
  transform: rotate(270deg);
}
.wheel-container .eight {
  background-color: rgb(255, 253, 208); // Adjust transparency here (0.8 for example)
  transform: rotate(315deg);
}

.arrow {
  position: absolute;
  top: 32.8%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  z-index: 1;
}

.fa-caret-down {
  color: red;
  font-size: 60px;
}

.wheel-btns {
  margin-top: 20px;
  z-index: 2;
  opacity: 0.9;
  font-family: 'Libre Baskerville';
  font-size: 18px;
}
