
<div class="container">
  <div class="card-product">
    <div class="card-product-infos">
      <h2> order id: to order address </h2>
      <p>$30</p>
      <p>03 March 2024</p>
    </div>
  </div>
</div>
