<div class="user-show-container">
  <div class="container">
    <div class="pages-title">
      <h3><strong>Shopping Cart</strong></h3>
      <p> Please review your order before proceeding:</p>
    </div>
  </div>
</div>
<% @order.order_items.each do |order_item| %>
  <div class="container">
      <%= render "item_card", order_item: order_item %>
  </div>
<% end %>

<div class="container">
  <div class="container">
    <div class="container">
      <div class="card-container p-3 border border-info">
        <div class="total-details d-flex justify-content-end">
          <h6><strong>Total: </strong> </h6>
          <h6> Rp <span id="total-price" data-quantity-target="totalprice">0</span>000</h6>
        </div>
          <div class="wheel-btns">
            <%= link_to checkout_path(@order), class: "btn btn-custom w-100 mt-2" do %>Checkout<% end %>
          </div>
      </div>
    </div>
  </div>
</div>
