<div class="container text-center mt-5 mb-5">
  <h3><strong>Shopping Cart</strong></h3>
</div>
<% @order.order_items.each do |order_item| %>
  <div class="container">
      <%= render "item_card", order_item: order_item %>
  </div>
<% end %>
<div class="container">
  <div class="container">
    <div class="container">
      <div class="card-container p-3">
        <div class="total-details d-flex justify-content-end">
          <h6><strong>Total: </strong> </h6>
          <span> Rp </span>
          <h6 id="total-price" data-quantity-target="totalprice">0</h6>
          <span> k </span>
        </div>
        <div class="wheel-btns">
          <%= link_to checkout_path(@order), class: "btn btn-custom w-100 mt-2" do %>Checkout<% end %>
        </div>
      </div>
    </div>
  </div>
</div>
