<h3> <strong>Checkout</strong> </h3>
<p><%= @order.total_price %></p>


<div class="container">
  <div class="order-details">
    <h6> Your Order</h6>
    <h6> <strong>Total: </strong></h6>
    <span> <strong> <%= @order.total_price %> </strong> </span>
    <h6> <strong> Address: </strong> <%= @order.address %> </h6>

  </div>
</div>
