<%= form_with  method: :get, data: { action: "submit->spinning_wheel#spin" }, class: "slider" do |f| %>
  <%= f.range_field :price, data: { spinning_wheel_target: "filter"}, in: 0..100, value: 50, step: 10, oninput: "rangeValue.innerText = this.value + 'K'" %>
  <p class="text-center text-white">Price range: 0K - <span id="rangeValue">50K</span></p>
<% end %>
