<body>
    <div class="container mt-3 fs-5">
        <h1>About Sika Seeker</h1>
        <p>Sika Seeker is a food delivery application designed to make meal decisions easier.</p>

        <div class="developers">
            <h2>Developers</h2>
            <div class="developer">
                <h5>Awatef Raboudi</h5>
                <p>Role: Fullstack Developer</p>
            </div>
            <div class="developer">
                <h5>Clarissa Lynn</h5>
                <p>Role: Fullstack Developer</p>
            </div>
            <div class="developer">
                <h5>Jason Roche</h5>
                <p>Role: Fullstack Developer</p>
            </div>
            <div class="developer">
                <h5>Mia Liu</h5>
                <p>Role: Fullstack Developer</p>
            </div>
            <div class="developer">
                <h5>Roeen Acal</h5>
                <p>Role: Fullstack Developer</p>
            </div>
        </div>

        <div class="functionality">
            <h2>Functionality</h2>
            <p>Sika Seeker features a roulette function for users who struggle to make food decisions. It randomly selects items from the restaurant's menu. Alternatively, users can pick items directly from the menu if they prefer.</p>
        </div>
    </div>
