  <style>
    /* Reset CSS */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    h2 {
      padding-top: 10px;
      text-align: center;
      margin-bottom: 15px;
    }

    img {
      width: 100%;
      /* margin-bottom: 20px; */
    }

    /* Features section styles */
    .features {
      background-color: #f5f5f5;
      padding: 10px 0 10px 0;
      text-align: center;
    }

    .feature {
      margin-bottom: 50px;
    }

    .feature i {
      font-size: 3em;
      color: #ff6666;
      margin-bottom: 20px;
    }

    .feature h3 {
      font-size: 1.6em;
      margin-bottom: 10px;
    }

    .feature p {
      font-size: 1.3em;
    }

  </style>

<div>
  <img src="https://raw.githubusercontent.com/clarissalynnn/Sika_Seeker/master/app/assets/images/sika-portrait.png"
  class="w-100", style="margin-top: -12px;">
</div>
<div class="container">

  <h2 style="font-size: 30px;">Stress less about food decisions.</h2>
  <div class="row features">
    <div class="col-md-3">
      <div class="feature">
        <p>Relax, let the wheel decide for you, knowing delicious food will be with you shortly.</p>
        <%= link_to items_index_path, class: "btn btn-info btn-lg w-100 py-3 mt-3", style: "font-family: 'Libre Baskerville'; color: white; font-size: 18px" do%>
          Order Now!
        <% end %>
      </div>
    </div>
  <h2 style="font-size: 28px;">Why Choose Sika Seeker?</h2>
    <div class="col-md-3">
      <div class="feature">
        <i class="fas fa-shipping-fast" style="color: #e0b531; margin-top: 20px"></i>
        <h3>Efficient Delivery Service</h3>
        <p>Offer fast and reliable delivery to your customers.</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="feature">
        <i class="fas fa-random" style="color: #e0b531;"></i>
        <h3>Random Roulette</h3>
        <p>Includes a random roulette option for indecisive customers.</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="feature">
        <i class="fas fa-user-friends" style="color: #e0b531;"></i>
        <h3>Easy to Use</h3>
        <p>User-friendly interface for both customers and restaurant owners.</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="feature">
       <i class="fa-solid fa-bolt" style="color: #e0b531;"></i>
        <h3>Powered by Restaurant Seeker</h3>
        <p>
          Sika Seeker is just the first to be built with our customizable template.
          Designed to be a blank slate to fit your restaurant's brand.
          <br><br>
          Join Restaurant Seeker today and revolutionize your restaurant's delivery services!
        </p>
      </div>
    </div>
  </div>
</div>
