<div data-controller="spinning-wheel" class="background-wrapper">
<div class="background-overlay"></div>
<div class="wheel-wrapper">
  <%= render "slider" %>

  <span class="arrow"><i class="fa-solid fa-caret-down"></i></span>
  <div data-spinning-wheel-target="container" class="wheel-container">
    <div class="one fs-1">❓</div>
    <div class="two fs-1">❓</div>
    <div class="three fs-1">❓</div>
    <div class="four fs-1">❓</div>
    <div class="five fs-1">❓</div>
    <div class="six fs-1">❓</div>
    <div class="seven fs-1">❓</div>
    <div class="eight fs-1">❓</div>
  </div>
  <div class="wheel-btns ">
    <button data-action="click->spinning-wheel#spin" class="btn btn-custom w-100" id="spin">Spin</button>
      <%= link_to items_index_path, class: "btn btn-custom w-100 mt-2" do %>Menu<% end %>
  </div>
</div>


<!-- Modal -->
<div data-spinning-wheel-target="modal" class="modal fade text-center w-70" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content p-3 rounded-3">
            <div class="modal-header">
              <h1 class="modal-title fs-5 text-center" id="exampleModalLabel"><strong> You're getting...</strong></h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div data-spinning-wheel-target="content" class="row gx-2 gy-2">
              </div>
            </div>
            <div class="modal-footer d-flex justify-content-around">
              <button type="button" class="btn btn-custom flex-grow-1 m-1" data-bs-dismiss="modal">Spin Again</button>
              <%= link_to items_index_path, class: "btn btn-custom flex-grow-1 m-1" do %>Menu<% end %>
              <button type="button" class="btn btn-custom flex-grow-1 m-1">Check Out</button>
            </div>
          </div>
        </div>
      </div>

</div>
