<div data-controller="spinning-wheel">

<div class="wheel-wrapper">
  <%= render "slider" %>

  <span class="arrow"><i class="fa-solid fa-caret-down"></i></span>
  <div data-spinning-wheel-target="container" class="wheel-container">
    <div class="one fs-1">❓</div>
    <div class="two fs-1">❓</div>
    <div class="three fs-1">❓</div>
    <div class="four fs-1">❓</div>
    <div class="five fs-1">❓</div>
    <div class="six fs-1">❓</div>
    <div class="seven fs-1">❓</div>
    <div class="eight fs-1">❓</div>
  </div>
  <div class="wheel-btns ">
    <button data-action="click->spinning-wheel#spin" class="btn btn-custom w-100 mb-2" id="spin">Spin</button>
    <button class="btn btn-custom w-100"><%= link_to "Go to Menu", items_index_path, style: "text-decoration:none; color: white;" %></button>
  </div>
</div>


<!-- Modal -->
<div  data-spinning-wheel-target="modal" class="modal fade text-center w-70" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
</div>
