<div class="col-6">
    <div class="entry">
  <%= image_tag item.photo, alt: "text" %>
      <h6><%= item.name %></h6>
        <div class="price">
          <h5>Rp <%= item.price %></h5>
        </div>
      <button class="button" data-cart-number-target='addButton' data-action='click->cart-number#addToCart'
          data-item-id="<%= item.id %>">Add to cart
      </button>
  </div>
</div>
