<div class="col-6">
  <div class="entry border border-info my-2">
    <%= image_tag item.photo, alt: "text" %>
      <h6 style="font-size: 18px; font-weight: bold;"><%= item.name %></h6>
        <div class="price">
          <h6>Rp <%= item.price %>.000</h6>
        </div>
      <button class="button w-100" style="font-family: 'Libre Baskerville'" data-cart-number-target='addButton' data-action='click->cart-number#addToCart'
        data-item-id="<%= item.id %>">Add
      </button>
  </div>
</div>
