<div class="">
  <p class="h3">
    <div class="container">
      <div class="row">
      <% items.each do |item| %>
        <%= render "item", item: item %>
      <% end %>
      </div>
    </div>
  </p>
</div>
