<div class="search-menu-result row">
  <p class="h3 col-6">
    <div class="container">
      <% items.each do |item| %>
        <%= render "item", item: item %>
      <% end %>
    </div>
  </p>
</div>
