<div class="double-slider">
  <input type="range" min="0" max="100" value="25" class="slider" id="minRange">
  <input type="range" min="0" max="100" value="75" class="slider" id="maxRange">
  <p>Price Range: <span id="min"></span> - <span id="max"></span></p>
</div>
