<div id="itemModal" class="modal-content rounded-4 shadow border border-2 w-75" >
  <div class="modal-body p-5">

    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    <div>
      <img id="modal-img" src="#" alt="item">
      <p id="modalItemName">Item name</p>
    </div>
    <button type="button" class="btn btn-lg btn-primary mt-5 w-100" data-bs-dismiss="modal">Add to Cart</button>
  </div>
</div>
