.accordion-button {
padding: 35px;
font-size: 20px;
margin-bottom: 7px;
box-shadow: lightgray 2px 2px 4px;
justify-content: center;
font-weight: 700;
color: $white;
letter-spacing: 2px;
}

.accordion-item {
  border-radius: 5px;
}

.accordion-button:not(.collapsed) {
color: $white;
}

.accordion-button::after {
  display: none;
}

.next-button {
  .btn {
    font-weight: 700;
    font-size: 18px;
    color: $white;
    letter-spacing: 2px;
    font-family: 'Libre Baskerville';
}
}

.col {
  .form-control {
    font-family: 'Libre Baskerville';
  }

}
