.accordion-button {
padding: 35px;
font-size: 1.1rem;
margin-bottom: 7px;
box-shadow: lightgray 2px 2px 4px;
justify-content: center;
font-weight: 700;
color: $white;
}

.accordion-item {
  border-radius: 5px;
}

.accordion-button:not(.collapsed) {
color: $white;
}

.accordion-button::after {
  display: none;
}
