.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 12px;
    background: $yellow;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
}

.total-details {
  justify-content: space-between;
  .h6 {
    margin-bottom: 0px;
    font-weight: 700;
  }
  span {
    margin-left: 15px;
    margin-right: 5px;
    font-family: $headers-font;
  }
}

.cart-total-container {
  padding: 12px;
}

.total-card-container {
  margin: 0px;
}
