// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "slider";
@import "modal";
@import "card_product";
@import "order_item_card";
@import "item_card";
@import "cart";
@import "map_popup";
@import "marker_logo";
@import "accordion";
@import "track";
@import "checkout";

.btn {
  letter-spacing: 2px;
  font-weight: 900;
}

.button {
  letter-spacing: 1.2px;
  font-weight: 900;
}

.accordion-button {
  letter-spacing: 2px;
  font-weight: 900;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 1px;
}

p {
  letter-spacing: 1px;
}
