.app-pages {
  margin-top: 20px;
}

// .app-section {
//   padding: 0 0;
// }

.entry {
  border: 0.5px $yellow;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  position: relative;
  box-shadow: rgba(24, 26, 27, 0.14) 0px 0px 2px 0px,
    rgba(24, 26, 27, 0.12) 0px 1px 5px 0px,
    rgba(24, 26, 27, 0.2) 0px 0px 1px -2px;

  .button {
    background-color: $yellow;
    border-color: transparent;
    color: white;
    border-radius: 2px;
    padding: 5px 28px;
    font-size: 12px;
    font-weight: 700;
  }

  i {
    text-align: right;
    float: right;
    color: $black;
  }

  img {
    width: 100%;
    margin-bottom: 12px;
  }

  h6 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.pages-title {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  padding: 30px;
  .h3 {
    font-weight: 800;
    font-size: 45px;
  }
}

// Styling for order_items
.card-container {
  display: flex;
  flex-direction: column;
  width: 325px;
  border: 0.25px solid darkgray;
  margin-top: 15px;
  border-radius: 3px;
}

.cart-image-title-button {
  display: flex;
  justify-content: space-between;
  height: 80px;
  margin-bottom: 15px;
  .image-tag {
    width: 100px;
    border: 0.5px solid darkgray;
  }
}

.price-container {
  display: flex;
  justify-content: space-between;
  .price-label {
    margin-left: 125px;
  }
}

.cart-quantity {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  .input-field {
    margin-left: 107px;
  }
}

.accordion-button:not(.collapsed) {
  background-color: $yellow;
}

.price-label {
  .h6 {
    display: inline;
  }
}

.form-inputs {
  font-family: 'Libre Baskerville';
}

.order-details {
  justify-content: space-between;
}

.order-label {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 2px;
}

.order-summary-container {
  background-color: $yellow;
}
