.app-pages {
  margin-top: 60px;
}

.app-section {
  padding: 40px 0;
}

.entry{
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  position: relative;
  box-shadow: rgba(24, 26, 27, 0.14) 0px 0px 2px 0px, rgba(24, 26, 27, 0.12) 0px 1px 5px 0px, rgba(24, 26, 27, 0.2) 0px 0px 1px -2px;
}

.row .col-6 {
  margin-bottom: 20px;
}
