.app-pages {
  margin-top: 30px;
}

.app-section {
  padding: 40px 0;
}

.entry {
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  position: relative;
  box-shadow: rgba(24, 26, 27, 0.14) 0px 0px 2px 0px,
    rgba(24, 26, 27, 0.12) 0px 1px 5px 0px,
    rgba(24, 26, 27, 0.2) 0px 0px 1px -2px;

  .button {
    background-color: $yellow;
    border-color: transparent;
    color: white;
    border-radius: 2px;
    padding: 5px 12px;
    font-size: 12px;
    font-weight: 700;
  }

  i {
    text-align: right;
    float: right;
    color: $black;
  }

  img {
    width: 100%;
  }
}

.row .col-6 {
  margin-bottom: 20px;
}

.pages-title {
  margin-bottom: 30px;
  text-align: center;
}

// Styling for order_items
.card-container {
  display: flex;
  flex-direction: column;
  width: 325px;
  border: 0.25px solid darkgray;
  margin-top: 15px;
}

.cart-image-title-button {
  display: flex;
  justify-content: space-between;
  height: 80px;
  margin-bottom: 15px;
  .image-tag {
    width: 100px;
    border: 0.5px solid darkgray;
  }
}

.price-container {
  display: flex;
  .price-label {
    margin-left:125px;
  }
}

.cart-quantity {
  display: flex;
  margin-bottom: 15px;
  .input-field {
    margin-left: 107px;
  }
}
