.btn-custom {
  background-color: $yellow;
  color: white;

}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom:active:focus {
  background-color: $yellow;
  color: white;
}

.border-custom{
  border-color: $yellow !important;
}

.btn-custom.disabled {
  background-color: $yellow;
  color: white;
}

.btn-custom-outline{
  background-color: white;
  border: 2px solid $yellow;
  color: $yellow;
}

.btn-custom-outline:focus,
.btn-custom-outline:active {
  background-color:white;
  border: 2px solid $yellow;
  color: $yellow;
}
