.container-track {
// background-color: rgb(250, 247, 247);
  font-size: 17px;
}

.card-feedback {
  text-justify: auto;
  text-align: center;
  border-radius: 2px;
}

.track-btn, a{
  text-align: center;
  color: black;
  text-decoration: none;
}

.btn1, .btn2 {
  background-color:#e0b531;
  border-radius: 2px;
  border: none;
  // font-size: 14px;
  font-weight: bolder;
  text-justify: distribute-all-lines;
  width: 150px;
}

.btn3 {
  background-color:#e0b531;
  border-radius: 2px;
  border: none;
  margin-left: 30% !important;
  width: 150px;
  font-weight: bolder;
}

.info {
  color: #e0b531;
  font-size: smaller;
}

.tracking-title{
  text-align: end;
}

.card-track {
  color: black;
  text-align: center;
  border-radius: 2px;
}
#interval {
  color: #e0b531;
}

#time {
  padding: 2px;
}

.badge, .interval {
  text-align: center;
  font-size: smaller;
  margin-top: 5%;
  color: #232321;
}
.driver-direction {
  text-align: center;
  font-weight: bolder;
}

.card-instructions {
  background-color: hsl(0, 2%, 91%);
border-radius: 2px;
}
